@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "NiceFont";
    src: url(/font.otf);
}

@font-face {
    font-family: "NicerFont";
    src: url(/cool-font.otf);
}

@font-face {
    font-family: "JetFont";
    src: url(/jet-font.ttf);
}

html,
body {
    @apply scroll-smooth;
    font-family: NiceFont, sans-serif;
}

.cool {
    font-family: NicerFont, sans-serif;
}

.code {
    font-family: "JetFont", monospace !important;
}

.animate-gradient-text {
    animation: gradient-text 5s ease infinite;
}

.animate-fade-in-up {
    animation: fade-in-up 0.5s ease-out;
}

@keyframes gradient-text {
    0%, 100% {
        background-size: 200% 200%;
        background-position: left center;
    },
    50% {
        background-size: 200% 200%;
        background-position: right center;
    }
}

@keyframes fade-in-up {
    0% {
        opacity: 0;
        transform: translateY(10px);
    },
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}