@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "NiceFont";
    src: url(/font.otf);
}

@font-face {
    font-family: "NicerFont";
    src: url(/cool-font.otf);
}

@font-face {
    font-family: "JetFont";
    src: url(/jet-font.ttf);
}

html,
body {
  @apply scroll-smooth;
  font-family: NiceFont, sans-serif;
}

.cool {
    font-family: NicerFont, sans-serif;
}

.code {
    font-family: "JetFont", monospace !important;
}